:root {
  display: flex;
  justify-content: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  width: 100%;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid hsl(192, 19%, 94%);
  border-top: none;
}

.header {
  font-size: 20px;
  font-weight: 600px;
  padding: 18px;
  border-bottom: 1px solid hsl(192, 19%, 94%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-writter {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(192, 19%, 94%);
}

.profile-pic{
  width: 40px;
  border-radius: 100%;
  align-self: flex-start;
}

.form{
  width: 100%;
  overflow: hidden;
}

textarea {
  display: flex;
  align-items: center;
  border: 0;
  resize: none;
  font-size: 20px;
  font-family: Syne;
  padding: 10px;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid hsl(192, 19%, 94%);
}

textarea:focus{
  outline: none;
}

.form-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;

}

.char-count{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: cornflowerblue;
  color: white;
  box-shadow: 0px 0px 2px grey;
  width: 23px;
  height: 23px;
  padding: 3px;
  margin: 3px;
  border-radius: 100%;
  font-size: 11px;
  font-weight: 700;
}

.post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: hsl(204, 88%, 53%);
  border-radius: 22px;
  height: 36px;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 14px;
  letter-spacing: 0.1px;
  margin-left: 8px;

}

.posts-list {
  display: flex;
  margin-left: 16px;
  flex-direction: column;
}

.post{
  display: flex;
  flex-direction: row;
  margin: 12px 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid hsl(192, 19%, 94%);
}
.post-body{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.user-info{
  flex-direction: row;
}
.username {
  font-size: 16px;
}
.userid{
  font-size: 16px;
  color: darkgray;
  margin-left: 3px;
}
.post-content {
  font-size: 16px;
}


.settings--body{
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color:white;
  border-radius: 5px;
  margin-top: 20px;
  width: 360px;
  padding: 3px 15px;
}

.settings--close-button {
  align-self: flex-end;
  padding-top: 5px;

}

.settings--form {
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
}
.settings--form label {
  color: #444;
  font-size: 15px;
  margin-left: 2px;
}
.settings--form input{
  height: 25px;
  border: 1px;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 8px;
  border: 1px solid hsl(192, 19%, 85%);
}
.settings--form .button {
  letter-spacing: 2px;
  font-size: 12px;
}
.settings--form .button:hover {
  filter: brightness(1.05);
}
.settings--form .button:active {
  transform: translateY(-1px);
}

.settings--header {
  color: #444;
  text-align: center;
  text-decoration: underline;
  padding-top: 25px;
  margin-bottom: 8px;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(192, 19%, 94%);
}

@media screen and (max-width: (550px)){
  .settings--body {
    width: 100%;
  }
}

