* {
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
body {
  width: 550px;
  margin: 0;
  justify-content: center;
  display: flex;
}

#root {
  width: 100%;
}

@media screen and (max-width: (550px)){
  body {
    width: 100%;
  }
}



/* dragbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
  overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  overflow: hidden;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(202, 68%, 71%);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(202, 68%, 60%);

}